{% trans_default_domain 'FOSUserBundle' %}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Modifier votre profile</strong>
                    </div>
                    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

                    <div class="card-body">
                        <div class="form-group">
                            <label for="nom_carte">Nom </label>
                            {{ form_widget(form.firstname, {'attr': {'class': 'form-control ' }}) }}
                        </div>
                        <div class="form-group">
                            <label for="nom_carte">Prenom </label>
                            {{ form_widget(form.lastname, {'attr': {'class': 'form-control ' }}) }}
                        </div>
                        <div class="form-group">
                            <label for="nom_carte">Adresse </label>
                            {{ form_widget(form.email, {'attr': {'class': 'form-control ' }}) }}
                        </div>
                        <div class="form-group">
                            <label for="nom_carte">Nom d'utilisateur </label>
                            {{ form_widget(form.username, {'attr': {'class': 'form-control ' }}) }}
                        </div>
                        <div class="form-group">
                            <label for="nom_carte">Mot de passe actuel </label>
                            {{ form_widget(form.current_password, {'attr': {'class': 'form-control ' }}) }}
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-dot-circle-o"></i> Enregistrer</button>
                        <button type="reset" class="btn btn-sm btn-danger">
                            <i class="fa fa-ban"></i> Reset</button>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
</div>


