{% trans_default_domain 'FOSUserBundle' %}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Informations</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Nom: </strong>
                            </div>
                            <div class="col-md-8">
                                {{ app.user.firstname }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Prenom: </strong>
                            </div>
                            <div class="col-md-8">
                                {{ app.user.lastname }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Nom d'utilisateur: </strong>
                            </div>
                            <div class="col-md-8">
                                {{ app.user.username }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Email: </strong>
                            </div>
                            <div class="col-md-8">
                                {{ app.user.email }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Agence: </strong>
                            </div>
                            <div class="col-md-8">
                                {{ app.user.bank }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

