{% extends "ILBankBundle::layout.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-primary">
                        <div class="card-body pb-0">
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="icon-settings"></i>
                                </button>

                            </div>
                            <div class="text-value">{{ user |length }}</div>
                            <div>Nombre d'utilisateurs</div>
                        </div>
                        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                            <canvas id="card-chart1" class="chart" height="70"></canvas>
                        </div>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-info">
                        <div class="card-body pb-0">
                            <button type="button" class="btn btn-transparent p-0 float-right">
                                <i class="icon-location-pin"></i>
                            </button>
                            <div class="text-value">{{ transaction.nbre }}</div>
                            <div>Nombre de transactions</div>
                        </div>
                        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                            <canvas id="card-chart2" class="chart" height="70"></canvas>
                        </div>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-success">
                        <div class="card-body pb-0">
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="icon-settings"></i>
                                </button>

                            </div>
                            <div class="text-value">{{ transaction.nbre }}</div>
                            <div>Nombre de transactions reussies</div>
                        </div>
                        <div class="chart-wrapper mt-3" style="height:70px;">
                            <canvas id="card-chart3" class="chart" height="70"></canvas>
                        </div>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-danger">
                        <div class="card-body pb-0">
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="icon-settings"></i>
                                </button>

                            </div>
                            <div class="text-value">0</div>
                            <div>Nombre de transactions echouees</div>
                        </div>
                        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                            <canvas id="card-chart4" class="chart" height="70"></canvas>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <h4 class="card-title mb-0">Souscriptions</h4>
                            <div class="small text-muted">{{ "now" | date('M') }} {{ "now" | date('Y') }}</div>
                        </div>
                        <!--/.col-->
                        <div class="col-sm-7 d-none d-md-block">
                            <button type="button" class="btn btn-primary float-right">
                                <i class="icon-cloud-download"></i>
                            </button>
                            <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="options" id="option1" autocomplete="off"> Jour
                                </label>
                                <label class="btn btn-outline-secondary active">
                                    <input type="radio" name="options" id="option2" autocomplete="off" checked> Mois
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="options" id="option3" autocomplete="off"> Annee
                                </label>
                            </div>
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                    <div class="chart-wrapper" style="height:300px;margin-top:40px;">
                        <canvas id="main-chart" class="chart" height="300"></canvas>
                    </div>
                </div>
            </div>
            <!--/.card-->

        </div>

    </div>

{% endblock %}