{% extends "ILBankBundle::layout.html.twig" %}
{% block title %}Nouvelle  souscription {% endblock %}

{% block breadcrumb %}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Souscription Mobile</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="{{ path('il_bank_homepage') }}">Tableau de Bord</a></li>
                        <li><a href="{{ path('il_bank_souscription_mobile_list') }}">Souscription Mobile</a></li>
                        <li class="active">Nouvelle souscription</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    {{ form_start(form) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
    <div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Fiche d'enregistrement de liaison de wallet</strong>
                        <small>Remplissez ce champ pour souscrire à ILAFIA</small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">

                                <div class="form-group">
                                    <label for="nom_carte">Numero de la carte prepaye</label>
                                    {{ form_widget(form.numeroCarte, {'attr': {'class': 'form-control ', 'maxlength': '16', 'onkeypress': 'return onlyNos(event,this);',  'placeholder': '' }}) }}
                                </div>
                                <div class="form-group">
                                    <label for="nom_carte">Type de carte</label>
                                    {{ form_widget(form.typeCarte, {'attr': {'class': 'form-control ', 'id': 'nom_carte', 'placeholder': '' }}) }}
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="nom_carte">Mois d'expiration</label>
                                        {{ form_widget(form.moisExpiration, {'attr': {'class': 'form-control ', 'id': 'nom_carte', 'placeholder': '' }}) }}
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="nom_carte">Annee d'expiration</label>
                                        {{ form_widget(form.anneeExpiration, {'attr': {'class': 'form-control ', 'id': 'nom_carte', 'placeholder': '' }}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nom_carte">Statut carte</label>
                                    {{ form_widget(form.statutCarte, {'attr': {'class': 'form-control ', 'value': 'Activated', 'placeholder': '' }}) }}
                                </div>
                                <div class="form-group">
                                    <label for="nom_carte">Statut de Liaison</label>
                                    {{ form_widget(form.statutLiaison, {'attr': {'class': 'form-control ', 'value': 'Pending', 'id': 'nom_carte', 'placeholder': '' }}) }}
                                </div>


                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="nom_carte">Numero de telephone</label>
                                    {{ form_widget(form.numeroTelephone, {'attr': {'class': 'form-control ', 'id': 'nom_carte', 'onkeypress': 'return onlyNos(event,this);', 'placeholder': '' }}) }}
                                </div>
                                <div class="form-group">
                                    <label for="nom_carte">Operateur Mobile</label>
                                    {{ form_widget(form.operateur, {'attr': {'class': 'form-control ', 'id': 'nom_carte', 'placeholder': '' }}) }}
                                </div>
                                <div class="form-group">
                                    <label for="nom_carte">Nom sur la carte</label>
                                    {{ form_widget(form.nomCarte, {'attr': {'class': 'form-control ', 'onkeypress': 'return onlyAlphabets(event,this);', 'placeholder': '' }}) }}
                                </div>
                                <div class="form-group">
                                    <label for="nom_carte">Label de la carte</label>
                                    {{ form_widget(form.labelCompte, {'attr': {'class': 'form-control ', 'id': 'nom_carte', 'placeholder': '' }}) }}
                                </div>
                                <div class="form-group">
                                    <label for="nom_carte">Alias du compte</label>
                                    {{ form_widget(form.aliasCompte, {'attr': {'class': 'form-control ', 'id': 'nom_carte', 'placeholder': '' }}) }}
                                </div>
                                <div class="form-group">
                                    <label for="nom_carte">Raison</label>
                                    {{ form_widget(form.raison, {'attr': {'class': 'form-control ', 'id': 'nom_carte', 'placeholder': '' }}) }}
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                {{ form_widget(form.w2c, {'attr': {'class': 'form-control ', 'id': 'nom_carte', 'placeholder': '' }}) }} W2C
                            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="form-group">
                                {{ form_widget(form.c2w, {'attr': {'class': 'form-control ', 'id': 'nom_carte', 'placeholder': '' }}) }} C2W
                            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="form-group">
                                {{ form_widget(form.balanceInquery, {'attr': {'class': 'form-control ', 'id': 'nom_carte', 'placeholder': '' }}) }} Balance Inquery
                            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="form-group">
                                {{ form_widget(form.miniStatement, {'attr': {'class': 'form-control ', 'id': 'nom_carte', 'placeholder': '' }}) }} Mini statement
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">

                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-dot-circle-o"></i> Enregistrer</button>
                        <button type="reset" class="btn btn-sm btn-danger">
                            <i class="fa fa-ban"></i> Reset</button>
                    </div>

                </div>

            </div>
        </div>
    </div>

    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}

{% endblock %}

{% block scripts %}
        <script language="Javascript" type="text/javascript">



        function onlyAlphabets(e, t) {

            try {

                if (window.event) {

                    var charCode = window.event.keyCode;

                }

                else if (e) {

                    var charCode = e.which;

                }

                else { return true; }

                if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))

                    return true;

                else

                    return false;

            }

            catch (err) {

                alert(err.Description);

            }

        }

        function onlyNos(e, t) {

            try {

                if (window.event) {

                    var charCode = window.event.keyCode;

                }

                else if (e) {

                    var charCode = e.which;

                }

                else { return true; }

                if (charCode > 31 && (charCode < 48 || charCode > 57)) {

                    return false;

                }

                return true;

            }

            catch (err) {

                alert(err.Description);

            }

        }

        jQuery(function($) {
            $( "#il_corebundle_souscriptionmobile_numeroCarte" ).change(function() {
                var numeroCarte = $('#il_corebundle_souscriptionmobile_numeroCarte').val();

             console.log(numeroCarte.substring(0, 3) );

            if(numeroCarte.substring(0, 3) == '742')
                $('#il_corebundle_souscriptionmobile_typeCarte').val('VISA');
            else if(numeroCarte.substring(0, 3) == '543')
                 $('#il_corebundle_souscriptionmobile_typeCarte').val('MASTERCARD');
            else
                 $('#il_corebundle_souscriptionmobile_typeCarte').val('UNKNOWN');
              });

            $( "#il_corebundle_souscriptionmobile_numeroTelephone" ).change(function() {
            var numeroTelephone =  $('#il_corebundle_souscriptionmobile_numeroTelephone').val();

            console.log(numeroTelephone.substring(0, 1) );

            if(numeroTelephone.substring(0, 1) == '7' || numeroTelephone.substring(0, 1) == '9')
                $('#il_corebundle_souscriptionmobile_operateur').val('Orange ML');

        });

        });





    </script>
{% endblock %}