<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Åukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>{% block title %} {% endblock %}</title>
    <!-- Icons-->
    <link href="{{ absolute_url(asset('assets/admin/node_modules/@coreui/icons/css/coreui-icons.min.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('assets/admin/node_modules/flag-icon-css/css/flag-icon.min.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('assets/admin/node_modules/font-awesome/css/font-awesome.min.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('assets/admin/node_modules/simple-line-icons/css/simple-line-icons.css')) }}" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="{{ absolute_url(asset('assets/admin/css/style.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('assets/admin/vendors/pace-progress/css/pace.min.css')) }}" rel="stylesheet">
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img class="navbar-brand-full" src="{{ absolute_url(asset('assets/main/images/logo.png')) }}" width="89" height="25" alt="CMM Logo">
        <img class="navbar-brand-minimized" src="{{ absolute_url(asset('assets/main/images/logo.png')) }}" width="30" height="30" alt="CMM Logo">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Tableau de Bord</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Utilisateurs</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Reglages</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#">
                <i class="icon-bell"></i>
                <span class="badge badge-pill badge-danger">5</span>
            </a>
        </li>
        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#">
                <i class="icon-list"></i>
            </a>
        </li>
        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#">
                <i class="icon-location-pin"></i>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img class="img-avatar" src="img/avatars/6.jpg" alt="">
            </a>
            <div class="dropdown-menu dropdown-menu-right">



                <div class="dropdown-header text-center">
                    <strong>Reglages</strong>
                </div>
                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">
                    <i class="fa fa-user"></i> Profile
                </a>
                <a class="dropdown-item" href="">
                    <i class="fa fa-wrench"></i> Mes Comptes bancaires
                </a>
                <a class="dropdown-item" href="">
                    <i class="fa fa-wrench"></i> Mes cartes
                </a>

                <div class="divider"></div>

                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                    <i class="fa fa-lock"></i> Se deconnecter</a>
            </div>
        </li>
    </ul>
    <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>
<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <i class="nav-icon icon-speedometer"></i> Tableau de Bord
                    </a>
                </li>

                <li class="nav-title">Souscription</li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('il_bank_souscription_list') }}">
                        <i class="nav-icon icon-drop"></i> Liste de souscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('il_bank_souscription') }}">
                        <i class="nav-icon icon-pencil"></i> Nouvelle Souscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('il_bank_linkage_compte') }}">
                        <i class="nav-icon icon-pencil"></i> Liaison banque => carte prepayee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="nav-icon icon-pencil"></i> Resiliation</a>
                </li>
                <li class="nav-title">Report Manager</li>

                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="nav-icon icon-pencil"></i> Releve (3 mois)</a>
                </li>


                <li class="nav-item mt-auto">
                    <a class="nav-link nav-link-success" href="https://coreui.io" target="_top">
                        <i class="nav-icon icon-cloud-download"></i>Telecharger notre appli</a>
                </li>

            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
    <main class="main">
        <!-- Breadcrumb-->
        {% block breadcrumb %} {% endblock %}
        {% block content %} {% endblock %}
    </main>
</div>
<footer class="app-footer">
    <div>
        <a href="https://coreui.io">Credit Mobile Money</a>
        <span>&copy; 2018 Kema.</span>
    </div>
    <div class="ml-auto">
        <span>Developpe par</span>
        <a href="https://coreui.io">Sekou Assane Sidibe</a>
    </div>
</footer>
<!-- Bootstrap and necessary plugins-->
<script src="{{ absolute_url(asset('assets/admin/node_modules/jquery/dist/jquery.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/admin/node_modules/popper.js/dist/umd/popper.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/admin/node_modules/bootstrap/dist/js/bootstrap.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/admin/node_modules/pace-progress/pace.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/admin/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/admin/node_modules/@coreui/coreui/dist/js/coreui.min.js')) }}"></script>
<!-- Plugins and scripts required by this view-->
<script src="{{ absolute_url(asset('assets/admin/node_modules/chart.js/dist/Chart.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/admin/node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/admin/js/main.js')) }}"></script>
</body>
</html>