{% extends "ILBankBundle::layout.html.twig" %}

{% block title %} Report Manager {% endblock %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Accueil</li>
        <li class="breadcrumb-item">
            <a href="#">Report Manager</a>
        </li>
        <li class="breadcrumb-item active">Report Manager</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="#">
                    <i class="icon-speech"></i>
                </a>
                <a class="btn" href="{{ path('il_bank_homepage') }}">
                    <i class="icon-graph"></i>  Tableau de bord
                </a>
            </div>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Report Manager</strong>
                        </div>
                        <form method="get">
                            <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="company">Type de rapport</label>
                                        <select class="form-control">
                                            <option value="">Settlement/EOD File Exception Report</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="company">Nom de l'operateur</label>
                                        <select name="operateur" class="form-control">
                                            <option value="Orange ML">Orange ML</option>
                                            <option value="Malitel">Malitel</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="company">Type de transaction</label>

                                        <select name="type_operation" class="form-control">
                                            <option value=""></option>
                                            <option value="1">Bank to wallet </option>
                                            <option value="2">Wallet to bank</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="company">Numero de la carte</label>
                                        <input type="text" name="numero_carte" class="form-control" id="ccnumber" maxlength="16" onkeypress="return isNumberKey(event)"  placeholder="0000 0000 0000 0000">
                                    </div>
                                    <div class="form-group">
                                        <label for="company">Start date</label>
                                        <input type="text" name="start_date" class="form-control" id="ccnumber" placeholder="XX-XX-XXXX">
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Numero de compte</label>
                                        <input type="text" name="numero_compte" maxlength="16" onkeypress="return isNumberKey(event)" class="form-control" id="name" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Statut de linkage</label>
                                        <select name="statut_linkage" class="form-control">
                                            <option value=""></option>
                                            <option value="linked">Linked</option>
                                            <option value="delinked">Delinked</option>
                                            <option value="pending">Pending</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Reference flexcube</label>
                                        <input type="text" class="form-control" id="name" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="company">End date</label>
                                        <input type="text" name="end_date" class="form-control" id="ccnumber" placeholder="XX-XX-XXXX">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fa fa-search"></i> Rechercher</button>
                            </div>
                            <div class="row"> &nbsp;</div>

                            {% if app.request.get('statut_linkage') != "" %}
                                <table class="table table-responsive-sm table-hover  mb-0">
                                    <thead class="thead-light">
                                    <tr>
                                        <th> No de Carte</th>
                                        <th> No de telephone</th>
                                        <th> Nom du detenteur</th>
                                        <th> Opérateur Mobile</th>
                                        <th>Statut de Liaison</th>
                                        <th>Type Carte</th>
                                        <th> Link Status</th>
                                        <th>Agence</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for souscription in souscriptions %}
                                        <tr>
                                            <td><b>{{ souscription.numeroCarte | slice(0, 3) }}****{{ souscription.numeroCarte | slice(10, 14) }}</b></td>
                                            <td>{{ souscription.numeroMobile }}</td>
                                            <td><i><b>{{ souscription.nomCarte }}</b></i></td>
                                            <td><b>{{ souscription.operateur }}</b></td>
                                            <td> {{ souscription.typeCarte }}</td>
                                            <td> {{ souscription.statutLiaison }}</td>
                                            <td>{{ souscription.statutCarte }}</td>
                                            <td>{{ app.user.bank }}</td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <table class="table table-responsive table-striped">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>OPERATOR_CODE</th>
                                    <th>REQUEST_TYPE</th>
                                    <th>REQUEST_DATE</th>
                                    <th>ACCOUNT_ALIAS</th>
                                    <th>ACCOUNT_NO</th>
                                    <th>MOBILE NO</th>
                                    <th>REQUEST_ID</th>
                                    <th>AMOUNT</th>
                                    <th>RESPONSE_CODE</th>
                                    <th>RESPONSE_MESSAGE</th>
                                    <th>STATUS</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for trans in souscriptions %}
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            {% if trans.trans == 'c2w' %}
                                                {% if trans.beneficiaire |slice(0, 1) == 7 %}
                                                    Orange Money
                                                {% else %}
                                                    Mobicash
                                                {% endif %}
                                            {% else %}
                                                {% if trans.source |slice(0, 1) == 7 %}
                                                    Orange Money
                                                {% else %}
                                                    Mobicash
                                                {% endif %}

                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ trans.trans | upper }}
                                        </td>
                                        <td>{{ trans.created_at | date('d M Y H:i:s') }}</td>
                                        <td>XXXXXX</td>
                                        <td>{{ trans.source }}</td>
                                        <td>{{ trans.beneficiaire }}</td>
                                        <td>OR1503200WMDRHI</td>
                                        <td>{{ trans.montant }}</td>
                                        <td>null</td>
                                        <td>null</td>
                                        <td>RECORDN</td>

                                    </tr>
                                    {% endfor %}


                                    </tbody>
                                    </table>
                            {% endif %}

                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

 {% block scripts %}
<script>
    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    function isLetterKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || charCode == 8)
            return true;
        return false;
    }
    </script>
 {% endblock %}